h1
{
    color: palevioletred;
    font-size: 40px;
    font-family: sans-serif;
}

p2
{
    color:blue;
    font-style: normal;

}

ol
{
    color: green;
    font: 100px;
} 

p3
{
    color: chocolate;
}
